<div class="panel-group">
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="<%= informacion_path %>">Info</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="<%= vestimenta_path %>">Vestimenta</a></li>
              <li><a href="<%= promociones_path %>">Promociones</a></li>
              <li><a href="<%= eventos_path %>">Eventos</a></li>
              <li><a href="<%= compras_path %>">Compras</a></li>
               <li><a href="<%= ofreces_path %>">Te Ofrece</a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="col-sm-3"></div>
  </div>
<div class="depot_form">
  <fieldset>
    <legend>Por favor Ingresa tus Datos</legend>
    <%= render 'form', order: @order %>
  </fieldset>
</div>
</div>