<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body">
<div class="panel-body"><h1 align="center" style="color: #fff;">


<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @reservacion.cantidad %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @reservacion.nombre %>
</p>

<%= link_to 'Edit', edit_reservacion_path(@reservacion) %> |
<%= link_to 'Back', userreservacions_path %>
